.services__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
}
.services__card{
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.1s ease-in-out;
}
.services__card:hover{
    transform: translateY(-15px);
}
.services__card:nth-child(1){
    background-color: rgb(120, 200, 148);
    box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
}


.services__card:nth-child(2){
    background-color: rgb(138, 233, 241);
    box-shadow: 0px 5px 20px 0px rgb(108, 185, 209 / 50%);
}

.services__card:nth-child(3){
    background-color: rgb(108, 185, 229);
    box-shadow: 0px 5px 20px 0px rgb(80, 168, 219 / 50%);
}

.services__img{
    margin-bottom: 1.25rem;
}
.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: #fff;
}

.services__description {
    color: #f8f9fa;
}

.services__card:nth-child(2) .services__title{
    color: var(--title-color);
}
.services__card:nth-child(2) .services__description {
    color: var(--text-color);
}



